@import url("globalstyles.css");
/*cart controls*/
.cartmain{
	display: flex;
	max-width: 95vw;
	margin-left: 1vw;
	margin-right: 1vw;
	padding-top: 1vh;
	font-size: 1vw;
}
.personal input[type="text"],input[type="email"],input[type="tel"]{
	width: 10vw;
}
textarea{
	width: 20vw;
	height: 15vh;
 }
.cartmain h1{
	margin-left:12vw;
	padding-bottom: 1vh;
}
.cartmain h2{
	padding-top: 2vh;
	padding-bottom: 2vh;
	border-top: solid grey 1px
}
.cartmain img{
	padding: 1vh 1vw 1vh 1vw;
}
.qssc{/*quantity size shape crust heading*/
	display: flex;
	padding-bottom: 1vh;
}
.sideitems{
	display: flex;
}
.subsideitems{
	display: flex;
	flex-direction: column;
}
.cost{
	border: solid grey 1px;
	padding: 1vw;
	border-radius: 1rem;
}
.cartitems{
	width: 50vw;
	padding-left: 1vw;
	display: flex;
	flex-direction: column;
	margin-right: 3vw;
}
.cartitems p{
	padding-bottom: 1vh;
}
.cartitems li{
	display: inline;
}
.cartitems ul{
	padding-bottom: 1vh;
}
.cartitems h3{
	display: flex;
	padding-top: 1vh;
}
/*Personal Info Box*/
.infobox{
	display: flex;
	flex-direction: column;
	background-color: rgba(0,0,0,.1);
	border: solid grey 1px;
	border-radius: 10px;
	width: 31vw;
	padding: 2vw;
	padding-bottom: 1vh;
}
.personal{
	display:flex;
	flex-direction: column;
	padding: 3vw;
	background-color: whitesmoke;
	border: solid grey 1px;
	border-radius: 10px;
}
.personal textarea{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.personal ul{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.personal li{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 1vh;
}

.notifications{
	padding-top: 1vh;
}
.finalbuttons{
	display: flex;
	padding-left: 6vw;
}
.finalbuttons button{
	padding: 1vw;
	font-size: 2vw;
	margin-top: 1vh;
	margin-left: 3vw;
	width: 15vw;
	border: 1px solid brown;
	border-radius: 30px;
	background-color:gold;
}
.finalbuttons button:hover{
	background-color:brown;
}
.checkout{
	display: flex;
}
/*credit card input boxes*/
.payment{
	border: solid grey 1px;
	background-color: whitesmoke;
	border-radius: 10px;
	padding: 3vw;
	margin-left:1vw;
}
.carddetails{
	width: 20vw;
}
.carddetails img{
	width: 13vw;
	height:auto;
	margin-left: 2vw;
}
.ccnumber{
width: 9vw;
margin-bottom: 1vh;
}
.ccsecurity{
width: 2vw;
margin-bottom: 1vh;
}
.ccexpire{
width: 1.5vw;
margin-right: .5vw;
}
.namef{
width: 6vw;
margin-bottom: 1vh;

}
.namel{
margin-left: .5vw;
width: 10vw;
margin-bottom: 1vh;

}
input::placeholder {
  text-align: center;
}
.debitcredit{
	padding-bottom: 1vh;
	padding-top: 1vh;
}