
* {/*set all margins and padding to 0 by default*/
	/*php -S 0.0.0.0:8000*/
    margin: 0;
    padding: 0;
}
html {
	font-family: verdana;
	background-color: white;
}
ul{
	list-style: none;/*removes bullet points from every unordered list*/
}
i {
	color: red;
}
/*footer controls*/
footer{
	display: block;
	margin-top: 10rem;
	border-top: solid grey 1px;
	padding: 5rem;
}
/*nav bar controls*/
header {
	width: 100%;
	border-bottom: 1px solid gray;
}
.nav-container{
	display: inline-flex;
	width: 100%;
	align-items: center;
}
.nav-container a{
	text-decoration: none;/*removes underline*/
	color: black;/*Text color black*/
	padding: 1rem;
	margin: -1rem .5rem -1rem .5rem; /*top, right, bottom, left */
}
.nav-container img{
	height: 6vh;
	width: auto;
	padding: .5rem;
}
.cartimg{
	margin-right: -5rem;
}
.nav-container div img + a{
	padding-left: 4.5vw;
}
.nav-container a > img{
	padding-right: 15vw;
}
.nav-container div{
	display: inline-flex;
	align-items: center;
	padding-left: 13.7vw;
}
.nav-container div a:hover {
    background-color: rgba(0,0,0,.2); /* Slightly lighter background on hover, low alpha to allow shoppingcart icon to be seen */
    border-radius: 5px;
}
.nav-container b > strong{
	color:orangered;
}