@import url("globalstyles.css");
/*index controls*/
.homepage{
	display: flex;
	align-items: top;
	padding: 1vw;
}
.indexmain{
	font-size: 1vw;
}
.gotopb{
	width: 40vw;
	padding-left: 28%;
}
.gotopb a{
	text-decoration: none;
}
.gotopb h1{
	border: 1px solid brown;
	background-color:gold;
	color: black;
	border-radius: 30px;
	text-align: center;
	padding: 1vw;
}
.gotopb h1:hover{
	background-color:brown;
}
.homepage a > img{
	width: 50vw;
}
.address{
	padding: 1vw;
}
.storehours{
	margin-bottom: 1vh;
	margin-left: 1vw;
}
.imgcontain{
	overflow:hidden;
	height: 60vh;
	margin-top: -6vh;
}
.imgcontain img{
	width: 30vw; 
	height: auto;
	margin-right:-2vh;
	margin-left:-2.5vw;
	
}
.hours{
	display: flex;
	align-items: top;
}
.hours ul li{
	padding-top: 1vh;
	padding-right: 2vw;
}