@import url("globalstyles.css");
/*Menu controls*/
.pizzaoptions{
	display: flex;
	justify-content: center;
  	align-items: center;
	
}
.pizzaheadings{
	margin-top: 2rem;
	padding: 2rem;
	border: 1px solid grey;
	border-radius: 20px;
	margin-right: auto;
	margin-left: auto;
}
.pizzaoptions img{
	width: 400px;
	height: 400px;
	border-radius: 50px;
}
.pizzaheadings a{
	text-decoration: none;/*removes underline*/
	margin-right: auto;
	margin-left: auto;
}

.pizzaheadings a h1{
	border: 1px solid brown;
	background-color:gold;
	color: black;
	border-radius: 30px;
	text-align: center;
	width: 400px;
	margin-bottom: 2rem;
}
.pizzaheadings a h1:hover{
	background-color: brown;
}
.pizzaheadings p{
	width: 390px;
	padding-top: 1rem;
}
.menutoppings{
	padding-top: 1rem;
	width:100%;
}
.menutoppings h2{
	padding-left: 39%;
	padding-bottom:1rem;
	
}
.toppingoptions{
	display: flex;
	border-top: solid grey 1px;
	
}
.toppingoptions ul{
	padding: 1rem;
	padding-left: 9%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	
}
.toppingoptions li{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.toppingoptions img{
	width: 100px;
	height: 100px;
}
.hamimg{
	margin-right: -20px;
	padding-left:1rem;
}