@import url("globalstyles.css");
/*Menu controls*/
main{
	font-size: 1.2vw;
}
.pizzaoptions{
	display: flex;
	justify-content: center;
  	align-items: center;
	
}
.pizzaheadings{
	margin-top: 2vh;
	padding: 2vw;
	border: 1px solid grey;
	border-radius: 20px;
	margin-right: auto;
	margin-left: auto;
}
.pizzaoptions img{
	width: 27vw;
	height: 50vh;
	border-radius: 50px;
}
.pizzaheadings a{
	text-decoration: none;/*removes underline*/
	margin-right: auto;
	margin-left: auto;
}

.pizzaheadings a h1{
	border: 1px solid brown;
	background-color:gold;
	color: black;
	border-radius: 30px;
	text-align: center;
	width: 27vw;
	margin-bottom: 2vh;
}
.pizzaheadings a h1:hover{
	background-color: brown;
}
.pizzaheadings p{
	width: 28vw;
	padding-top: 1vh;
}
.menutoppings{
	padding-top: 1vh;
	width:100vw;
}
.menutoppings h2{
	padding-left: 39vw;
	padding-bottom:1vh;
	
}
.toppingoptions{
	display: flex;
	border-top: solid grey 1px;
	
}
.toppingoptions ul{
	padding: 1vw;
	padding-left: 8vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1vw;
	
}
.toppingoptions li{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.toppingoptions img{
	width: 8vw;
	height: 16vh;
}
.hamimg{
	margin-right: -1vw;
	padding-left:1vw;
}