@import url("globalstyles.css");
/*Order placed Controls*/
main{
	font-size: 1.1vw;
}
.orderp{
	padding: 2vh 2vw 2vh 8vw;
	padding-left: 8vw;
	display: flex;
}
.orderp section{
	display:flex;
	flex-direction: column;
	padding-right: 5vw;
}
.orderp h1, h2, h3{
	
	padding-bottom: 1.5vh;
}
.orderp ul > b{
	border-bottom: 2px black solid;
	padding-bottom: 1px;
}
.orderp ul {
	padding-left: 1vw;
	padding-right: 1vw;
}
.orderp span{
	display: flex;
	
}
.orderp li{
	padding-top: 1px;
}
.orderp div{
	border: 1px solid grey;
	border-radius: 10px;
	padding: 1vw;
	display: flex;
	flex-direction: column;
	max-width: fit-content;
}
.orderp div h2{
	padding-left: 9vw;
	border-bottom: 1px solid black;
	margin-bottom: 1.5vh;
}
.orderp div h3{
	border-top: 1px solid black;
	margin-top: 1.5vh;
	padding-top: 1.5vh;
	padding-left: 10vw;
}
