@import url("globalstyles.css");
/*Pizza builder controls*/
.pbmain{
	margin: 0;
	display: flex;
	width: 100%;
	font-size: 1vw;
}
.pbmain form{
	display: flex;
	width: 100%;
	padding-left: 3vw;
}
.pizzaB{
	width: 100%;
}
.pbaside{
	width: 35%;
	display: block;
	padding: 1vh 1vw 1vh 1vw;
}
.pbaside h2{
	margin-left: 30%;
	padding: 0vh 1vw 1vh 1vw;
}
.pbaside div{
	display: flex;
}

.pbaside ul{
	padding-right: 1vw;
	padding-left: 1vw;
}
.pbaside ul li{
	padding-top: 1vw;
}
.delvorpick{
	display: flex;
	position: absolute;
	margin-left: 22vw;
	margin-top: 1vw;
	font-size: 1.5vw;
}
.pbaside button{
	font-size: 1.5vw;
	margin-top: 10.5vh;
	margin-left: 1vw;
	margin-bottom: 1vw;
}
.pizzaCust{
	margin-left: 35%;
	padding: 1vh 1vw 1vh 1vw;
}

.pizzatoppings{
	display: flex;
    align-items: flex-start;
	
}
.pizzatoppings select{
	height: fit-content;
	width: 100%;
	font-size: 1vw;
	margin-top: 1vw;
	text-align: end;
}
.quantity{
	padding-top: 6.5vh;
	padding-right: 1vw;
}
.pizzatoppings ul{
	padding: 2vw;
}
.pizzatoppings ul li{
	padding-top: 1vw;
}
.sizes{
	padding-left: 2vw;
	padding-bottom: 2vh;
}
.sizes h3{
	padding-top: 1vh;
}
.sizes label{
	padding-right: 2vw;
}
.shape{
	padding-left: 2vw;
	padding-top: 1vh;
}
.shape label{
	padding-right: 2vw;
}