@charset "UTF-8";

/* STEP 2: TYPE/ELEMENT Selector - Create a selector that targets the HTML element, with a rule that sets the background-color to 'lightskyblue' */
/*READ ME
Presumably you do mean the html element, and not
*{} as this is the universal selector, and ruins the page by turning every background color blue
*/
html{
	background-color: lightskyblue;
}

body {
	font-family: Tahoma, Verdana, sans-serif;
	margin: 0 auto;
	min-width: 768px;
	max-width: 1024px;
}
/* Arrange the SECTION and the ASIDE elements side-by-side in columns */
main {
	display: flex;
	flex-direction: row;
	background-color: white;
	padding: 1rem; /*added so text isn't hugging the border of main*/
}
/* Make the SECTION column a bit wider than the ASIDE column */
main section {
	width: 60%;
}
main aside {
	width: 40%;
	padding: 1rem; /*added so text isn't pushed up against the main*/
}

/* STEP 3: CLASS Selector - Create a selector that targets all elements with the class 'new-feature', and put the following declarations inside the braces (this puts a little NEW tag beside anything with this class):
	display: inline-block;
	padding-right: 25px;
	background-image: url("../images/new.png");
	background-repeat: no-repeat;
	background-position: top right;
*/
.new-feature{
	display: inline-block;
	padding-right: 25px;
	background-image: url("../images/new.png");
	background-repeat: no-repeat;
	background-position: top right;
}

/* STEP 4: ID Selector - Create a selector that targets the specific element id (emailAddress) for the email form field on the home page, and set the font-weight property to 'bold' */
#emailAddress{
	font-weight: bold;
}

/* STEP 5: ATTRIBUTE Selector - Build a CSS selector that targets hyperlinks that have the rel attribute set to the value 'external', then add the following properties and values (this will add a little external-link icon to the link):
	padding-left: 20px;
	background-image: url("../images/new.png"); should be ../images/extlink.png, maybe this is part of the test though?
	background-repeat: no-repeat;
	background-position: top left;
*/
[rel^="external"]{
	padding-left: 20px;
	background-image: url("../images/extlink.png");
	background-repeat: no-repeat;
	background-position: top left;
}


/* Thank you to 'pnx' at https://openclipart.org/detail/202731/external-link-icon for the very cool external link icon */

main a {
	text-decoration: none;
	color: lightskyblue;
	font-weight: bold;
}
/* STEP 6: PSEUDOCLASS Selector - Type a selector that targets A elements (hyperlinks) that are a decendent of the MAIN element (hint: see rule just above), and that are currently being hovered over by the mouse pointer - set the text-decoration to 'underline' and the color to orange */
main a:hover{
	text-decoration: underline orange;
}

/* STEP 7: PSEUDOELEMENT Selector - Build a selector below that targets the first letter of a BLOCKQUOTE element, then set the font-size to '2em' */
blockquote ::first-letter{
	font-size: 2em;
}

/* STEP 8: DECENDENT/CONTEXTUAL Selector - Type a selector that targets P elements that are contained by a FOOTER element, and set the text-align property to 'right' */
footer p{
	text-align: right; /*text is already aligned right, but it is working, text-align: left; moves the text to the left of the page*/
}

/* STEP 9: CHILD/DIRECT-DESCENDENT Selector - Assemble a CSS selector below that only targets P elements that are directly descended from a SECTION element, and set the text-indent property to '3em' */
section > p{
	text-indent: 3em;
}
/*READ ME
Minor confusion in what you want done here. "Only directly descended from section" would imply section > p and not section p, though I'm not certain this is what you meant, given that section > p is technically a CHILD selector, and section p is referred to as a DESCENDANT selector
I assume I've interpreted this correctly, but if you meant for me to select all p descendants of section

section p{
	text-indent: 3em;
}

would be the appropriate syntax
*/

/* STEP 10: GROUPED Selector - To wrap up, create a selector that sets the color to 'white' for H1, H2 and FOOTER elements */
h1,h2,footer{
	color: white;
}