@font-face {
    /*courtesy of dafont.com https://www.dafont.com/sf-movie-poster.font?text=test*/
      font-family: 'poster';
      src: url('/assignment-2/sf_movie_poster/SF\ Movie\ Poster.ttf') format('truetype');
    }
html{
    background-image: url('../images/2049post.jpg');
    background-size: cover;
    aspect-ratio: 25/40;
}
body{
    padding: 5rem 5rem;
    color:aqua;
    font-family:Arial, Helvetica, sans-serif;
}
hgroup{
    text-align: center;
}
p{
    font-family: 'poster', arial;
    
}
