@font-face {
    /*php -S 0.0.0.0:8000*/
    /*courtesy of dafont.com https://www.dafont.com/sf-movie-poster.font?text=test*/
      font-family: 'poster';
      src: url('/assignment-2/sf_movie_poster/SF\ Movie\ Poster.ttf') format('truetype');
    }
html{
    background-image: url('../images/2049post.jpg');
    background-size: cover;
    aspect-ratio: 25/40;
}
body{
    height: 100%; 
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 5rem 5rem;
    color:aqua;
    font-family:Arial, Helvetica, sans-serif;
}
main{
    margin-top: auto;
}
hgroup{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
hgroup i{
    font-style: normal;/*italics here only being used to control the text*/
}
h1{
    font-size: 160px;
    font-family: impact, sans-serif;
    line-height: 140px;
    margin-top: 0;
}
h2{
    display:flex;
    font-weight: normal;
    justify-content: space-between;
    line-height: 1px;
}
section{
    font-family: 'poster', sans-serif;
    font-size: 20px;
    word-spacing: -3px;
    text-align: center;
    line-height: 20px;
}
section strong{
    font-size: 30px;
    font-weight: normal;
}
