/*Highly recommend the browser extension colorzilla. 
Allows in browser color value acquiring using an eyedropper
Extremely useful in general
It is how I got the color codes used in this CSS*/
@font-face {
    /*php -S 0.0.0.0:8000*/
    /*courtesy of dafont.com https://www.dafont.com/sf-movie-poster.font?text=test*/
    font-family: 'SF Movie Poster';
    src: url('/assignment-2/sf_movie_poster/SF\ Movie\ Poster.ttf') format('truetype');
    }
@font-face{
    /*courtesy of dafont.com https://www.dafont.com/blade-runner-movie-font.font*/
    font-family: 'BLADRMF_';
    src: url('/assignment-2/bladerunnerfont/BLADRMF_.TTF') format('truetype');
}
html{
    background-image: url('../images/2049post.jpg');
    background-size: cover;
    aspect-ratio: 25/40;
    width: 110%;
}
body{
    height: 100%; 
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: auto;
    color: #00B3AA;
    font-family:Arial, Helvetica, sans-serif;
}
main{
    margin-top: auto;
}
hgroup{
    margin :auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    width:fit-content;
}
hgroup i{
    font-style: normal;/*italics here only being used to control the text*/
    
}
h1{
    font-family: 'BLADRMF_', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}
h1 :first-child{
    font-size:240px;
    line-height: 180px;
}
h1 :nth-child(3){
    font-size: 180px;
    line-height: 130px;
}
h1 :last-child{
    font-size: 120px;
    line-height: 90px;
}
h1 em{
    font-style: normal;
}
h2{
    display:flex;
    font-family: 'Arial Narrow';
    font-size: 37px;
    letter-spacing: 6px;
    justify-content: space-between;
    width:85%;
    margin: auto;
    color:#95CEB6;
    padding-bottom: 1rem;
    padding-left: 2rem;
}
section p{
    font-family: 'SF Movie Poster', sans-serif;
    font-size: 40px;
    word-spacing: -5px;
    text-align: center;
    line-height: 33px;
}
section strong{
    font-size: 50px;
    font-weight: normal;
}
section span{
    display: inline-block;
    font-size: 22px;
    text-align: right;
    line-height: 18.5px;
    word-spacing: -2px;
}
footer{
    display: flex;
    padding: 1rem;
    align-items:flex-end;
    height: fit-content;
}
footer > :first-child {
    display:flex;
    border: 1px solid #00B3AA;
    height: fit-content;
}
footer > :first-child p{
    font-family: serif;
    font-size: 9px;
    margin-left: 2px;
    margin-bottom: 0;
}
footer > :first-child b{
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: lighter;
    line-height: 16px;
}
footer img[src="images/alconlogo.png"]{
    width: 20px;
    height: 35px;
}
footer > :nth-child(2){
    border: 1px solid #00B3AA;
    display: block;
    font-size: 10px;
    text-align: center;
    line-height: 10px;
    margin-top: -10px;
    letter-spacing: -1px;
}
footer > :nth-child(2) small{
    font-size: 10px;
    letter-spacing: .18px;
    word-spacing: -1px;
    font-family: 'SF Movie Poster', sans-serif;
}
footer img[src="images/columbiapictureslogo.png"]{
    width: 110px;
    height: auto;
    margin-top: 0px;
    margin-bottom:-1px;
}
footer > :nth-child(3){
    display: flex;
    align-items: center;
    font-family: serif;
    font-weight: lighter;
    border: 1px solid #00B3AA;
    font-size: 8px;
    letter-spacing: 7px;
}
footer > :nth-child(3) b:first-letter{
    font-size: 12px;
}
footer > :nth-child(3) b{
    margin-bottom: -10px;
}
footer img[src="images/scottfreelogo.png"]{
    width: 45px;
    height: auto;
    margin: 0 0px 0 -9px;
}
footer > :nth-child(4){
    display: block;
    width: fit-content;
    border: 1px solid #00B3AA;
}
footer > :nth-child(4) :first-child{
    display:flex;
    text-align: center;
    width: fit-content;
}
footer > :nth-child(4) :first-child > span{/*restricted*/
    border: 1px solid #00B3AA;
    background-color: #00B3AA;
    color: black;
    font-family: Impact, sans-serif;
    font-size: 12px;
    padding: 1px 2px;
    letter-spacing: 1px;
}
footer > :nth-child(4) :first-child div b{/*Big R letter*/
    font-size: 60px;
    font-family:serif;
    font-weight: 900;
    line-height: 50px;
}
footer > :nth-child(4) :first-child div{
    display:block;
    border-right: 1px solid #00B3AA;
    margin-bottom: -4px;
}
footer > :nth-child(4) :first-child text{
    font-size: 15px;
    width: 10.5rem;
    align-content: center;
}
footer > :nth-child(4) > span{
    display:inline-flex;
    white-space: nowrap;
    align-items: center;
    font-size: 8px;
    font-family: arial, sans-serif;
    padding: 0 1px;
    margin-right: auto;
    border-top: 1px solid #00B3AA;

}

footer img[src="images/mpalogo.png"]{
    width: 25px;
    height: 10px;
    border-left: 1px solid #00B3AA;
    padding: 2px;
}
footer img[src="images/warnerbroslogo.png"]{
    width: 30px;
    height: auto;
}




