@font-face {
    /*php -S 0.0.0.0:8000*/
    /*courtesy of dafont.com https://www.dafont.com/sf-movie-poster.font?text=test*/
    font-family: 'SF Movie Poster';
    src: url('/assignment-2/sf_movie_poster/SF\ Movie\ Poster.ttf') format('truetype');
    }
@font-face{
    /*courtesy of dafont.com https://www.dafont.com/blade-runner-movie-font.font*/
    font-family: 'BLADRMF_';
    src: url('/assignment-2/bladerunnerfont/BLADRMF_.TTF') format('truetype');
}
html{
    background-image: url('../images/2049post.jpg');
    background-size: cover;
    aspect-ratio: 25/40;
}
body{
    height: 100%; 
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: auto;
    color:aqua;
    font-family:Arial, Helvetica, sans-serif;
}
main{
    margin-top: auto;
}
hgroup{
    margin :auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid aqua;
    width:fit-content;
}
hgroup i{
    font-style: normal;/*italics here only being used to control the text*/
    
}
h1{
    font-family: 'BLADRMF_', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}
h1 :first-child{
    font-size:200px;
    line-height: 120px;
}
h1 :nth-child(3){
    font-size: 140px;
    line-height: 120px;
}
h1 :last-child{
    font-size: 120px;
    line-height: 100px;
}
h1 em{
    font-style: normal;
}
h2{
    display:flex;
    font-weight: normal;
    justify-content: space-between;
    width:90%;
    margin: auto;
    color:aquamarine;
    padding-bottom: 2rem;
    border: 1px solid aqua;
}
section{
    font-family: 'SF Movie Poster', sans-serif;
    font-size: 20px;
    word-spacing: -3px;
    text-align: center;
    line-height: 20px;
}
section strong{
    font-size: 30px;
    font-weight: normal;
}
