/*Image credits
https://wallpaper.mob.org/gallery/tag=blade%20runner%202049/
https://www.pinterest.com/pin/529313762456533245/
https://static.wikia.nocookie.net/greatestmovies/images/1/11/Bladerunner204917018.jpg/revision/latest?cb=20221010005326
https://www.pinterest.com/pin/566961040594765620/
https://www.pinterest.com/pin/winter-storm-watch-wednesday-more-snow--535224736979013449/
*/
/*Highly recommend the browser extension colorzilla. 
Allows in browser color value acquiring using an eyedropper
Extremely useful in general
It is how I got the color codes used in this CSS*/
/*php -S 0.0.0.0:8000*/
@font-face{
    /*courtesy of dafont.com https://www.dafont.com/sf-movie-poster.font?
    credit to author ShyFonts http://www.shyfonts.com*/
    font-family: 'SF Movie Poster';
    src: url('../fonts/sf_movie_poster/SF\ Movie\ Poster.ttf') format('truetype');
    }
@font-face{
    /*courtesy of dafont.com https://www.dafont.com/blade-runner-movie-font.font?
    credit to author Phil Steinschneider*/
    font-family: 'BLADRMF_';
    src: url('../fonts/bladerunnerfont/BLADRMF_.TTF') format('truetype');
}
@font-face {
    /*courtest of dafont.com https://www.dafont.com/modern-sans-serif-7.font?
    credit to author Sizenko Alexander http://www.styleseven.com*/
    font-family: 'modern_sans_serif_7';
    src: url('../fonts/sans_serif_7/modern_sans_serif_7.ttf') format('truetype');
}
@font-face {
    /*courtest of dafont.com https://www.cufonfonts.com/font/dimensional
    credit to author Daniel P. Lyons uploader LyonsType_BU*/
    font-family: 'DimensionalBold';
    src: url('../fonts/dimensional/DimensionalBold.ttf') format('truetype');
}
html{
    background-image: url('../images/docbackground.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    zoom: 30%;/*viewport now starts with 100% being equivalent to 30%, initial scale wasn't working, but this is. Weirdly, everywhere is saying firefox doesn't support this. I'm using firefox, works fine. I assume what they mean is that it technically isn't at 30% zoom, its changed 100% zoom to equal 30%, but if anything, this makes more sense than defaulting to actual 30% zoom*/
}
a{/*turning of anchor defaults, making color become whatever the text is assigned*/
    text-decoration: none;
    color: inherit;
}
a:hover{
    background-image: linear-gradient(to right, #921D24, #005C7D);
    border-radius: 5px;
}
body{
    margin:auto;
    color: #00B3AA;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url('../images/2049post.jpg');
    background-size: cover;
    height: 145rem; 
    width: 95rem;
}
header h1{/*snow toggle*/
    width:fit-content;
    margin: 0 auto 0 auto;
    font-family: 'BLADRMF_';
    font-size: 50px;
    background-image: linear-gradient(to right, #921D24, #005C7D);
    border-radius: 10px;
}
header a{padding: 0 1rem 0 0;}
header a:hover{
    background-image: linear-gradient(to right, #CB181C, #078A97);
    margin: auto;
}
main{
    position: relative;/*parent for snowing, so I may absolute it's position to the confines of main.*/
    margin: auto;
    height: 140rem; 
    width: 95rem;
    display: flex;
    flex-direction: column;
}
.snowing::before{/*snow overlay*/
    position: absolute;/*take up whole of main*/
    content:'';/*make a box with no text in it, to be used as the background gif*/
    inset: 0;/*what I don't get is why the gif doesn't exist at all without this. Surely it'd default to appearing somewhere?*/
    background: url('../images/snowing.gif');
    background-size: contain;
    opacity: 0.3;
    pointer-events: none;
}
/*popout controls*/
.popouts a{
    width: 200px;
    height: 300px;
    position: absolute;
}
.popouts a:hover{
    height: 1000px;
    width:800px;
    position: absolute;
}
.popouts :nth-child(3){/*K*/
    left: 35rem;
    top: 15rem;
}
.popouts :nth-child(3):hover{/*K*/
    background-image: url('../images/kpopout.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1550px;
    top: 5rem;
    left: -50rem;
}
.popouts :nth-child(4){/*Rick Deckard*/
    left: 60rem;
    top: 20rem;
}
.popouts :nth-child(4):hover{/*Rick Deckard*/
    background-image: url('../images/deckardpopout.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 1357px;
}
.popouts :nth-child(2){/*Joi*/
    left: 45rem;
    top: 45rem;
}
.popouts :nth-child(2):hover{/*Joi*/
    background-image: url('../images/joipopout.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 1600px;
    top: 20rem;
}
.popouts :first-child{/*Niander Wallace*/
    left: 30rem;
    top: 65rem;
}
.popouts :first-child:hover{/*Niander Wallace*/
    background-image: url('../images/wallacepopout.png');
    background-size: contain;
    background-repeat: no-repeat;
    left: -50rem;
    width: 1470px;
    top: 20rem;
}
.popouts :nth-child(5){/*Pfläger-Katsumata Series D FKM890*/
    left: 5rem;
    top: 100rem;
}
.popouts :nth-child(5):hover{/*Pfläger-Katsumata Series D FKM890*/
    background-image: url('../images/fkmpopout.png');
    background-size: contain;
    background-repeat: no-repeat;
    left: -50rem;
    width: 1100px;
    top: 55rem;
}
.popouts :nth-child(6){/*Steyr Pflager Katsumata Series-D Blaster*/
    left: 78rem;
    top: 90rem;
}
.popouts :nth-child(6):hover{/*Steyr Pflager Katsumata Series-D Blaster*/
    background-image: url('../images/d5223popout.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    top: 50rem;
    width: 1070px;
}
/*replicative poster content begins*/
hgroup{
    margin:auto auto 0 auto;/*0 is telling the bottom margin to set to minimum, else the title will move up the page, don't want that*/
    display: flex;
    flex-direction: column;
    text-align: center;
    width:fit-content;
}
hgroup h1{
    overflow: hidden; /*telling the h1s here to not extend clickable area past the visible space*/
    margin: .5rem;
    display: grid;
    text-align: center;
    font-family: 'BLADRMF_', sans-serif;
    line-height: .75;
    height: fit-content;
}
hgroup > a:hover{border-radius: 20px}
hgroup h1 :first-child{font-size:240px;}
hgroup h1 :nth-child(2){font-size: 180px;}
hgroup h1 :last-child{font-size: 120px;}
hgroup h1 em{font-style: normal;}
hgroup h2{
    display:flex;
    font-family: 'Arial Narrow';
    font-size: 37px;
    letter-spacing: 6px;
    justify-content: space-between;
    width:85%;
    margin: auto;
    color:#95CEB6;
    padding-bottom: .5rem;
    padding-left: 2rem;
}
section p{
    font-family: 'SF Movie Poster', sans-serif;
    font-size: 38px;
    word-spacing: -5px;
    text-align: center;
    line-height: 33px;
}
section strong{
    font-size: 48px;
    font-weight: normal;
}
section span{/*stacked text bits*/
    display: inline-block;
    font-size: 20px;
    text-align: right;
    line-height: 18.5px;
    word-spacing: -2px;
}
/*This is where the fun begins. Wanted to try to recreate the bottom credits using CSS as much as possible. Could have dropped in images that did it all, that would've been boring. So there's a lot here, more than you'd actually want to use building a page. Not only does it lag the loading, it also means a lot more work anytime something need be tweaked. However, I wanted the challenge of recreating the text for the majority of the logos using CSS. I skipped columbia and just used their logo since it already matched perfectly, and I knew I had my work cut out for me with the mpa rating bit*/
.footer{
    display: flex;
    padding: 1rem;
    align-items:flex-end;
    height: fit-content;
    margin-top: -50px;
    margin-bottom: 20px;
}
.footer a{
    margin-left: auto;
    margin-right: auto;
}
.footer > :first-child {/*alcon*/
    display:flex;
    height: fit-content;
}
.footer > :first-child p{
    font-family: serif;
    font-size: 9px;
    margin-left: 2px;
    margin-bottom: 0;
}
.footer > :first-child b{
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: lighter;
    line-height: 16px;
}
.footer img[src="images/alconlogo.png"]{
    width: 20px;
    height: 35px;
}
.footer > :nth-child(2){/*columbia*/
    display: block;
    font-size: 10px;
    text-align: center;
    line-height: 10px;
    margin-top: -10px;
    letter-spacing: -1px;
}
.footer > :nth-child(2) small{
    font-size: 10px;
    letter-spacing: .18px;
    word-spacing: -1px;
    font-family: 'SF Movie Poster', sans-serif;
}
.footer img[src="images/columbiapictureslogo.png"]{
    width: 110px;
    height: auto;
    margin-top: 0px;
    margin-bottom:-1px;
}
.footer > :nth-child(3){/*scott free*/
    display: flex;
    align-items: center;
    font-family: serif;
    font-weight: lighter;
    font-size: 8px;
    letter-spacing: 7px;
}
.footer > :nth-child(3) b:first-letter{font-size: 12px;}
.footer > :nth-child(3) b{margin-bottom: -10px;}
.footer img[src="images/scottfreelogo.png"]{
    width: 45px;
    height: auto;
    margin: 0 0px 0 -9px;
}
.footer > :nth-child(4){/*mpa rating*/
    border: 1px solid #00B3AA;
    display: block;
    width: fit-content;
    margin-right: 0;
}
.footer > :nth-child(4) :first-child{
    display:flex;
    text-align: center;
    width: fit-content;
}
.footer > :nth-child(4) :first-child > span{/*restricted*/
    background-color: #00B3AA;
    color: black;
    font-family: Impact, sans-serif;
    font-size: 8px;
    padding: 1px 2px;
    letter-spacing: 1px;
}
.footer > :nth-child(4) :first-child div b{/*Big R letter*/
    font-size: 40px;
    font-family:serif;
    font-weight: 900;
    line-height: 30px;
}
.footer > :nth-child(4) :first-child div{
    display:block;
    border-right: 1px solid #00B3AA;
    margin-bottom: -1px;
}
.footer > :nth-child(4) :first-child p{
    font-size: 10px;
    text-align: center;
    font-family: 'Arial Narrow', sans-serif;
    width: max-content;
    padding: 0px 5px 0px 5px;
    margin: 4px 0px 0px 0px;
}
.footer > :nth-child(4) > span{/*mpa fine print*/
    display:flex;
    align-items: center;
    border-top: 1px solid #00B3AA;
}
.footer > :nth-child(4) > span small{
    display: flex;
    padding: 0px;
    font-size: 6px;
    font-family: 'Arial Narrow', sans-serif;
    word-spacing: -1px;
    padding: 1px;
    border-right: 1px solid #00B3AA;
}
.footer > :nth-child(4) + small{/*lil baby r-logo*/
    font-size: 8px;
    margin-bottom: -1px;
    margin-right: auto;
}
.footer img[src="images/mpalogo.png"]{
    width: 18px;
    height: 6px;
}
.footer > :nth-child(6){/*imax bit*/
    display: block;
    text-align: center;
    color:#95CEB6;
    height: fit-content;
    line-height: .8;/*due to the way i segmented the elements on the html, this ended up being the best means to control the line-height for each. .footer Global declaration, tweak h1 separately*/
}
.footer > :nth-child(6) h1{
    font-family: 'modern_sans_serif_7', sans-serif;
    font-size: 80px;
    word-spacing: -8px;
    margin: 0;
    padding: 0;
}
.footer > :nth-child(6) h1 b{/*me being extremely petty. Couldn't find a font that exactly matched this section in the poster, so I'm mixing*/
    font-family: Arial;
    font-size: 50px;
}
.footer > :nth-child(6) text{font-size: 20px;}
.footer > :nth-child(6) text b{font-family: 'DimensionalBold';}
.footer > :nth-child(6) small{font-size: 8px;}
.footer > span{/*fine print amalgamation*/
    display: flex;
    font-size: 8px;
    text-align: center;
}
.footer > :last-child{/*warnerbros*/
    display: flex;
    align-content: center;
    font-family: serif;
}
.footer > :last-child span{
    display: block;
    align-content: flex-end;
    text-align: center;
    font-size: 14px;
    margin-right: 0;
    padding-right: 0;
    white-space: nowrap;
    line-height: 10px;
}
.footer :last-child small{font-size: 8px;}
.footer img[src="images/warnerbroslogo.png"]{
    width: 40px;
    height: 40px;
    padding-left: 1px;
}