html{
    font-family: sans-serif;
    color: white;
    background-color: #046599;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    background-color:black;
    font-size: 20px;
    color: white;
    width: 100%;
    position: relative;
    display: flex;
    align-items:center;
}
header nav{
    display: flex;
    justify-content: center;
    width: 80%;
    font-family: Impact, sans-serif;
    margin: .5rem 0;
}
header > a{
    padding: 0 1rem;
}
header nav ul{
    display: flex;
    margin: 0;
}
header nav li{
    margin: 0 1rem;
}
.supportcontainer{
    margin-left: 20rem;
    padding-bottom: 5rem;
}
.supportcontainer section{
    display: block;
    padding: 1rem 0;
}
.peripheralcontainer section h2{
    display: flex;
    justify-content: center;
}
.gamescontainer{
    display: flex;
    padding-left: 5rem;
    width: 90%;
}
.gamescontainer ol{
    list-style-position: inside;
    padding-left: 0;
}
.blockcontainer{
    display: block;
}
.flexcontainer{
    display: flex;
    justify-content: center;
}
.consolespecscontainer{
    display: flex;
    justify-content: center;
}
.consolespecscontainer section ul{
    list-style-position: inside;
    padding-left: 0;
}
.newscontainer{
    margin-bottom: 5rem;
}
.newscontainer section{
    display: flex;
    align-items: flex-end;
    margin-bottom: 15rem;
}
.newscontainer section ul{
    padding: 0;
}
.newscontainer .blockcontainer > :first-child img{
    padding-left: 20rem;
}
.newscontainer section li{
    padding: 1rem;
}
.newscontainer .blockcontainer > :nth-child(2){
    text-align: right;
}
.newscontainer figure{
    display: block;
    padding-right: 20rem;
}
.newscontainer figure > :first-child{
    display: flex;
    margin-left: 105px;
    padding-bottom: .8rem;
}
.newscontainer figure > :last-child{
    padding-left: .5rem;
}
.feedbackcontainer{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    justify-content: center;
    width: 100%;
}
.homecontainer{
    display: block;
}
h1, .homecontainer section ul{
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: Impact, sans-serif;
}
#scrollingimages{
    margin: 0 auto;
    width: 1200px;
    height: 538px;
    overflow: hidden;
    position: relative;
}
.slidecontainer{
    display: flex;
    width: 4800px;
    height: 538px;
    position: absolute;
    left: 0;
    transition: left 0.7s ease-in-out;
}
.slide0 .slidecontainer{
    left: 0;
}
.slide1 .slidecontainer{
    left: -1200px;
}
.slide2 .slidecontainer{
    left: -2400px;
}
.slide3 .slidecontainer{
    left: -3600px;
}
.homecontainer section ul li{
    padding: 1rem;
    color: white;
    background-color: grey;
}
.homecontainer > :first-child{
    background-color: #041249;
    padding-bottom: 4rem;
}
main section div{
    display: flex;
    justify-content: center;
    width: 100vw;
}
main section div a{
    text-align: center;
    margin: 1rem auto;
}
.homecontainer section div a h3{
    background-image: linear-gradient(to bottom, #669ED5, #081543);
    margin: 0;
    padding: 1rem 0;
}
.homecontainer section div a{
    background-color: #669ED5;
    overflow: hidden;
    border-radius: 10px;
}
.arrowscontainer{
    position: absolute;
    top: 21rem;
}
.arrowscontainer button{
    font-size: 100px;
    font-family: 'Arial Narrow', sans-serif;
    color:#0233dd;
    background-color: white;
    border-radius: 100px;
    padding: 0 2rem;
    position: absolute;
}
.arrowscontainer button:hover{
    background-color: #669ED5;
}
.previous{
    left: 0;
}
.next{
    right: 0;
}
footer{
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: #0D1126;
    color: white;
}
footer div{
    padding: 0 2rem;
}
footer div ul{
    padding: 0;
}
footer > :first-child{
    width: 30%;
    padding-right: 10rem;
}
footer li{
    padding-bottom: 1rem;
}
h1{
    background-color: #0233dd;
    font-size: 60px;
    color: white;
}