
header {
    border-bottom: 1px black solid;
    width: 100%;
    position: relative;
    display: flex;
}
header nav {
    display: flex;
    justify-content: center;
}
header a {
    padding: 1rem;
}
header nav ul {
    display: flex;
}
header nav li {
    list-style: none;
}