html{
    font-family: sans-serif;
    color: black;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    border-bottom: 1px black solid;
    width: 100%;
    position: relative;
    display: flex;
}
header nav{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    width: 80%;
    font-family: Impact, sans-serif;
}
header > a{
    padding: 1rem;
}
header nav ul{
    display: flex;
}
header nav li{
    margin: 0rem 1rem;
}
.supportcontainer{
    margin-left: 20rem;
    padding-bottom: 5rem;
}
.supportcontainer section{
    display: block;
    padding: 1rem 0;
}
.peripheralcontainer section h2{
    display: flex;
    justify-content: center;
}
.gamescontainer{
    display: flex;
    padding-left: 5rem;
    width: 90%;
}
.gamescontainer ol{
    list-style-position: inside;
    padding-left: 0;
}
.blockcontainer{
    display: block;
}
.flexcontainer{
    display: flex;
    justify-content: center;
}
.consolespecscontainer{
    display: flex;
    justify-content: center;
    border: solid red 1px;
}
.consolespecscontainer section ul{
    list-style-position: inside;
    padding-left: 0;
    border: 1px solid red;
}
.newscontainer{
    margin-bottom: 5rem;
}
.newscontainer section{
    display: flex;
    align-items: flex-end;
    margin: 10rem 0;
}
.newscontainer section ul{
    padding: 0;
}
.newscontainer .blockcontainer > :first-child img{
    padding-left: 20rem;
}
.newscontainer section li{
    padding: 1rem;
}
.newscontainer .blockcontainer > :nth-child(2){
    text-align: right;
}
.newscontainer figure{
    display: block;
    padding-right: 20rem;
}
.newscontainer figure > :first-child{
    display: flex;
    margin-left: 105px;
    padding-bottom: .8rem;
}
.newscontainer figure > :last-child{
    padding-left: .5rem;
}
main{
    display: flex;
    justify-content: center;
    width: 100%;
}
.homecontainer{
    display: block;
}
h1, .homecontainer section figure, .homecontainer section ul{
    display: flex;
    justify-content: center;
    width: 100vw;
    border-bottom: 1px solid red;
    padding: 0;
    margin: 0;
    font-family: Impact, sans-serif;
}
.homecontainer section ul li{
    padding: 1rem;
}
main section div{
    display: flex;
    justify-content: center;
    width: 100vw;
}
main section div a{
    border: 1px solid red;
    text-align: center;
    margin: 1rem auto;
}
footer{
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    border: 1px solid red;
}
footer div{
    padding: 0 2rem;
}
footer div ul{
    padding: 0;
}
footer > :first-child{
    width: 30%;
    padding-right: 10rem;
}
footer li{
    padding-bottom: 1rem;
}