html{
    font-family: sans-serif;
    color: black;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    border-bottom: 1px black solid;
    width: 100%;
    position: relative;
    display: flex;
}
header nav{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    width: 80%;
    font-family: Impact, sans-serif;
}
header > a{
    padding: 1rem;
}
header nav ul{
    display: flex;
}
header nav li{
    margin: 0rem 1rem;
}
.supportcontainer{
    margin-left: 20rem;
}
.supportcontainer section{
    display: block;
}
main{
    display: block;
    width: 100%;
}
main h1, section figure, section ul{
    display: flex;
    justify-content: center;
    width: 100vw;
    border-bottom: 1px solid red;
    padding: 0;
    margin: 0;
    font-family: Impact, sans-serif;
}
main section ul li{
    padding: 1rem;
}
main section div{
    display: flex;
    justify-content: center;
    width: 100vw;
}
main section div a{
    border: 1px solid red;
    text-align: center;
    margin: 1rem auto;
}
footer{
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    border: 1px solid red;
}
footer div{
    padding: 0 2rem;
}
footer div ul{
    padding: 0;
}
footer > :first-child{
    width: 30%;
    padding-right: 10rem;
}
footer li{
    padding-bottom: 1rem;
}