@charset "utf-8";
/*global controls*/
html {
    font-family: sans-serif;
    color: white;
    background-color: #046599;
}
body {
    width: 100vw;
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
a {
    color: inherit;
    text-decoration: none;
}
ul {list-style: none;}
h1 {
    background-color: #0233dd;
    font-size: 60px;
    color: white;
}
.blockcontainer {display: block;}/*generic class for making elements block-level*/
/*header controls*/
header {
    background-color: black;
    font-size: 20px;
    color: white;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
}
header nav {
    width: 80%;
    font-family: Impact, sans-serif;
    margin: .5rem 0;
}
header nav a:hover {
    background-image: linear-gradient(to top, #669ED5, grey);
    padding: .5rem 1rem;
    margin: 0;
}
header > a {padding: 0 1rem;}
header nav ul {
    display: flex;
    margin: 0;
}

header nav li a {
    padding: 1rem;
    margin: 0;
}
/*home page controls*/
.homecontainer {
    display: block;
    width: 100vw;
}
h1, .homecontainer section ul {/*h1 and homecontainer section ul just happened to work with the same CSS, so consolidated to reduce lines*/
    width: 100vw;
    padding: 0;
    margin: 0 auto;
    font-family: Impact, sans-serif;
}
#scrollingimages {/*carousel container, sized to hide overflowing images from slidecontainer*/
    margin: 0 auto;
    padding-top: 3rem;
    width: 70vw;
    height: 35vw;
    overflow: hidden;
    position: relative;
}
#scrollingimages img {/*carousel images sized*/
    width: 70vw;
    height: 35vw;
}
.slidecontainer {/*container for all images in carousel, has the images lined up left to right, each taking up 70vw*/
    display: flex;
    width: 280vw;/*4 images(3 and 1 duplicate for circle around) 4 x 70 = 280*/
    height: 35vw;
    position: absolute;
    left: 0;
    transition: left 0.7s ease-in-out;
}
.slide0 .slidecontainer {left: 0;}
.slide1 .slidecontainer {left: -70vw;}
.slide2 .slidecontainer {left: -140vw;}
.slide3 .slidecontainer {left: -210vw;}
.gotoslide button {/*heading buttons for carousel, default appearance*/
    padding: 1rem;
    margin: 0;
    color: white;
    border: none;
    background-color: grey;
    font: inherit;
}
.gotoslide button:hover {/*needed padding to keep button size consistent on hover*/
    padding: 1rem;
}
.homecontainer> :first-child {/*different background color for carousel*/
    background-color: #041249;
    padding-bottom: 4rem;
}
.homecontainer section div {
    display: flex;
    width: 100vw;
}
.homecontainer > :last-child div{flex-wrap: wrap;}/*wrap only for second section div*/
.homecontainer section div figure h3 {
    background-image: linear-gradient(to bottom, #669ED5, #081543);
    margin: 0;
    padding: 1rem 0;
}
.homecontainer section div figure, .peripheralcontainer section figure {/*again, two elements that share all the same CSS, so consolidated to reduce lines*/
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    margin: 1rem auto;
    position: relative;
}
.interactive {/*container for interactive hover gifs*/
    position: absolute;
    inset: 0;
    opacity: 0;
    width: 400px;
}
.interactive img {/*styling for gifs that pop up when you hover over the top picks*/
    width: 325px;
    height: 246px;
    position: relative;
    left: 38px;
    top: 93.5px;
    border-radius: 15px;
}
.interactive:hover {/*tv image applied to spice up the hover images, no transition, would have had to do this differently if I wanted to use movement*/
    opacity: 1;
    background-image: url('../images/oldtv.png');
    /*tv image source, note that the image doesn't seem to exist on the page, but google images found it anyways 
    https://www.inverse.com/input/guides/gamers-are-rushing-to-scoop-up-retro-tvs-heres-what-to-look-for*/
    background-size: contain;
    width: 400px;
}
.arrowscontainer {/*container for both arrow buttons*/
    position: absolute;
    top: 21rem;
}
.arrowscontainer button {/*container for styling for both arrow buttons*/
    font-size: 100px;
    font-family: 'Arial Narrow', sans-serif;
    color: #0233dd;
    background-color: white;
    border-radius: 100px;
    padding: 0 2rem;
    position: absolute;
}
.previous {left: 0;}/*individual arrow button controls for carousel*/
.next {right: 0;}
/*feedback page controls*/
.feedbackcontainer {
    display: flex;
    flex-direction: column;
}
.feedbackcontainer form fieldset {
    position: relative;
    width:95%;
    margin: auto;
}
.feedbackcontainer form fieldset div {/*thank you message that is hidden until form submission*/
    position: absolute;
    width: 95%;
    height: 100%;
    left: 0;
    margin-left: .5rem;
    top: 0;
    opacity: 0;
    pointer-events: none;
}
.feedbackcontainer form fieldset div.cover {/*java calls class .cover to hide the original form under the thank you message*/
    opacity: 1;
    pointer-events: visible;
}
/*privacy page controls*/
.privacycontainer {
    display: block;
    margin: auto;
    padding: 5rem;
}
.privacycontainer ul {list-style-type: disc;}
.numerals ol li {list-style-type: lower-roman;}/*mimicing original sega privacy policy layout, some lists are lower roman, others lower alpha, some are just bullets*/
.alphabetical ol li {list-style-type: lower-alpha;}
/*support page controls*/
.supportcontainer {
    margin: auto;
    padding: 5rem;
}
.supportcontainer section {
    display: block;
    padding: 0 1rem;
    border: 1px solid white;
    margin: 5rem auto;
    border-radius: 10px;
}
.supportcontainer section p {
    margin: 1rem;
}
/*peripherals page controls*/
.peripheralcontainer section h2, .genesisguidescontainer h2, .supportcontainer h2 {/*another group of elements with shared CSS, consolidated for reduced lines*/
    display: flex;
    margin: auto;
    font-size: 50px;
    width: fit-content;
    padding: 0 1rem;
    margin-top: -2rem;
}
.peripheralcontainer section > div {
    flex-wrap: wrap;
}
.peripheralcontainer section {
    border: 1px solid white;
    width: 90vw;
    margin: 5rem auto;
    border-radius: 10px;
}
.peripheralinfo {/*peripheral info boxes that slide onto the element upon hover*/
    position: absolute;
    left: 0;
    bottom: -30%;
    padding: 0rem 1rem;
    height: 130%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-end;
}
.peripheralinfo:hover {/*position changed, slide over peripheral heading*/
    bottom: 0;
    transition: ease-in-out 0.3s;
}
.peripheralinfo ul {
    list-style-type: square;
    margin-top: 0;
}
/*games page controls*/
.gamescontainer {
    width: 100%;
    flex-wrap: wrap;
}
.gamescontainer section, .consolespecscontainer section {
    border: 1px solid white;
    padding: 1rem;
    margin: 2rem 1rem;
    border-radius: 1rem;
    height: fit-content;
}
.gamescontainer section h2, .consolespecscontainer section h2 {
    margin-top: -2rem;
    width: fit-content;
    padding: 0 .5rem;
}
.gamescontainer ol {
    list-style-position: inside;
    padding-left: 0;
}
/*game guides page controls*/
.genesisguidescontainer {
    display: block;
    margin: 4rem auto;
    height: 500px;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 0 1rem;
}
/*console specs page controls*/
.consolespecscontainer section ul {
    list-style-position: inside;
    padding-left: 0;
}
/*news page controls*/
.newscontainer article {
    padding-left: 4rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.newscontainer section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.newscontainer i{margin-left: 50%; line-height: 40px;}
.newscontainer section ul {padding: 0;}
.newscontainer .blockcontainer> :first-child img {padding-left: 20rem;}/*32x image needed a nudge*/
.newscontainer section li {
    padding: 1rem;
    list-style: inside square;
}
.newscontainer .blockcontainer {background-image: linear-gradient(to left, #669ED5, #081543);}/*gradient asthetic goes one way for two of the articles, one the other way*/
.newscontainer .blockcontainer> :nth-child(2) {
    text-align: left;
    background-image: linear-gradient(to right, #669ED5, #081543);/*said other way*/
    width: 100vw;
}
.newscontainer .blockcontainer h2, .newscontainer .blockcontainer h3 {text-align: center;}
.newscontainer .blockcontainer h2 {
    font-size: 50px;
    margin: 0;
    padding: 1rem 0;
}
.newscontainer figure {/*flex is solely for the two side by side saturn images*/
    display: flex;
    margin: 0;
}
.threeimages figure {/*2nd article has a 3 image pyramid so they are defined as a block*/
    display: block;
    width: 700px;
    padding-right: 0rem;
    margin-left: 5rem;
}
.threeimages figure> :first-child {/*in the three image pyramid, the first image is pushed right to center it with the other two images*/
    display: flex;
    margin-left: 160px;
    padding-bottom: .8rem;
}
.threeimages figure> :last-child {padding-left: .5rem;}
/*about page controls*/
.aboutpage {
    width: 100vw;
    justify-content: center;
    display: flex;
    background-image: linear-gradient(to top, #305082, #081543);
    padding-bottom: 3rem;
}
.aboutpage article {
    display: block;
    width: 90vw;
    margin: auto;
    border: 1px solid gray;
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 1rem;
}
.aboutpage article>div {display: flex;}
.aboutpage section h2 {
    background-image: linear-gradient(to top, #7C8298, #2D3D5D);
    font-size: 50px;
    margin: 0;
}
.aboutpage figure img {
    width: 30vw;
    height: 39vw;
}
.aboutpage figcaption {text-align: center;}
/*footer controls*/
footer {
    padding: 1rem 2rem;
    background-color: #0D1126;
    color: white;
}
footer div {padding: 0 2rem;}
footer div ul {padding: 0;}
footer> :first-child {
    width: 30%;
    padding-right: 10rem;
}
footer li {padding-bottom: 1rem;}
/*majority of consolidated elements using same controls*/
.gotoslide button:hover, button.active, .homecontainer section div figure, .peripheralcontainer section figure, .peripheralinfo ul, .arrowscontainer button:hover {
    background-color: #669ED5;
}
.feedbackcontainer form fieldset div, .gamescontainer section h2, .consolespecscontainer section h2, .peripheralcontainer section h2, .genesisguidescontainer h2, .supportcontainer h2 {
    background-color: #046599;
}
footer, .aboutpage section h2, .newscontainer, .consolespecscontainer, .gamescontainer, .peripheralcontainer section > div, h1, .homecontainer section ul, header nav {
    display: flex;
    justify-content: center;
}
.aboutpage a, .consolespecscontainer a, .privacycontainer a, .supportcontainer a {/*source hyperlinks*/
    color: red;
    margin-left: 2rem;
}
/*the inherent problem with consolidating everything like this is, if I only need to change one of these shared properties for only one element, I now have to remove it from this block
and add it to it's own space, if I don't, I may see a bunch get messed up at once. I could consolidate more, but for this reason I have elected not to. Specifity may also become messed up
by moving things from one part of the CSS to another (something that did happen to me once or twice while making this site)*/