@charset "utf-8";
html {
    font-family: sans-serif;
    color: white;
    background-color: #046599;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    background-color: black;
    font-size: 20px;
    color: white;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: center;
    width: 80%;
    font-family: Impact, sans-serif;
    margin: .5rem 0;
}

header nav a:hover {
    background-image: linear-gradient(to top, #669ED5, grey);
    padding: .5rem 1rem;
    margin: 0;
}

header>a {
    padding: 0 1rem;
}

header nav ul {
    display: flex;
    margin: 0;
}

header nav li a {
    padding: 1rem;
    margin: 0;
}
.privacycontainer {
    display: block;
    margin: auto;
    padding: 5rem;
}
.supportcontainer {
    margin: auto;
    padding: 5rem;
}

.supportcontainer section {
    display: block;
    padding: 0 1rem;
    border: 1px solid white;
    margin: 5rem auto;
    border-radius: 10px;
}

.supportcontainer section p {
    margin: 1rem;
}

.peripheralcontainer section h2,
.genesisguidescontainer h2,
.supportcontainer h2 {
    display: flex;
    margin: auto;
    font-size: 50px;
    width: fit-content;
    padding: 0 1rem;
    background-color: #046599;
    margin-top: -2rem;
}

.peripheralcontainer section div {
    display: flex;
    justify-content: center;
}

.peripheralcontainer section {
    border: 1px solid white;
    width: 90vw;
    margin: 5rem auto;
    border-radius: 10px;
}

.gamescontainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.gamescontainer section,
.consolespecscontainer section {
    border: 1px solid white;
    padding: 1rem;
    margin: 2rem 1rem;
    border-radius: 1rem;
    height: fit-content;
}

.gamescontainer section h2,
.consolespecscontainer section h2 {
    margin-top: -2rem;
    background-color: #046599;
    width: fit-content;
    padding: 0 .5rem;
}

.gamescontainer ol {
    list-style-position: inside;
    padding-left: 0;
}

.genesisguidescontainer {
    display: block;
    margin: 4rem auto;
    height: 500px;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 0 1rem;
}

.blockcontainer {
    display: block;
}

.flexcontainer {
    display: flex;
    justify-content: center;
}

.consolespecscontainer {
    display: flex;
    justify-content: center;
}

.consolespecscontainer section ul {
    list-style-position: inside;
    padding-left: 0;
}

.newscontainer article {
    padding-left: 4rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.newscontainer section {
    display: flex;
    align-items: center;
}

.newscontainer section ul {
    padding: 0;
}

.newscontainer .blockcontainer> :first-child img {
    padding-left: 20rem;
}

.newscontainer section li {
    padding: 1rem;
    list-style: inside square;
}

.newscontainer .blockcontainer {
    background-image: linear-gradient(to left, #669ED5, #081543);
}

.newscontainer .blockcontainer> :nth-child(2) {
    text-align: left;
    background-image: linear-gradient(to right, #669ED5, #081543);
    width: 100vw;
}

.newscontainer .blockcontainer h2,
.newscontainer .blockcontainer h3 {
    text-align: center;
}

.newscontainer .blockcontainer h2 {
    font-size: 50px;
    margin: 0;
    padding: 1rem 0;
}

.newscontainer figure {
    display: flex;
    margin: 0;
}

.threeimages figure {
    display: block;
    width: 700px;
    padding-right: 0rem;
    margin-left: 5rem;
}

.threeimages figure> :first-child {
    display: flex;
    margin-left: 160px;
    padding-bottom: .8rem;
}

.threeimages figure> :last-child {
    padding-left: .5rem;
}

.feedbackcontainer {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.homecontainer {
    display: block;
    width: 100vw;
}

h1,
.homecontainer section ul {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 0;
    margin: 0 auto;
    font-family: Impact, sans-serif;
}

#scrollingimages {
    margin: 0 auto;
    padding-top: 3rem;
    width: 70vw;
    height: 35vw;
    overflow: hidden;
    position: relative;
}

#scrollingimages img {
    width: 70vw;
    height: 35vw;
}

.slidecontainer {
    display: flex;
    width: 280vw;
    height: 35vw;
    position: absolute;
    left: 0;
    transition: left 0.7s ease-in-out;
}

.slide0 .slidecontainer {
    left: 0;
}

.slide1 .slidecontainer {
    left: -70vw;
}

.slide2 .slidecontainer {
    left: -140vw;
}

.slide3 .slidecontainer {
    left: -210vw;
}

.gotoslide button {
    padding: 1rem;
    margin: 0;
    color: white;
    border: none;
    background-color: grey;
    font: inherit;
}

.gotoslide button:hover {
    background-color: #669ED5;
    padding: 1rem;
}

button.active {
    background-color: #669ED5;
}

.homecontainer> :first-child {/*different background color for carousel*/
    background-color: #041249;
    padding-bottom: 4rem;
}

.homecontainer section div {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
}
/*tv image source, note that the image doesn't seem to exist on the page, but google images found it anyways 
https://www.inverse.com/input/guides/gamers-are-rushing-to-scoop-up-retro-tvs-heres-what-to-look-for*/
.homecontainer section div figure h3 {
    background-image: linear-gradient(to bottom, #669ED5, #081543);
    margin: 0;
    padding: 1rem 0;
}

.homecontainer section div figure,
.peripheralcontainer section figure {
    background-color: #669ED5;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    margin: 1rem auto;
    position: relative;
}

.interactive {
    position: absolute;
    inset: 0;
    opacity: 0;
    width: 400px;
}

.interactive img {
    width: 325px;
    height: 246px;
    position: relative;
    left: 38px;
    top: 93.5px;
    border-radius: 15px;
}

.interactive:hover {
    opacity: 1;
    background-image: url('../images/oldtv.png');
    background-size: contain;
    width: 400px;
}

.arrowscontainer {
    position: absolute;
    top: 21rem;
}

.arrowscontainer button {
    font-size: 100px;
    font-family: 'Arial Narrow', sans-serif;
    color: #0233dd;
    background-color: white;
    border-radius: 100px;
    padding: 0 2rem;
    position: absolute;
}

.arrowscontainer button:hover {
    background-color: #669ED5;
}

.previous {
    left: 0;
}

.next {
    right: 0;
}

.aboutpage {
    width: 100vw;
    justify-content: center;
    display: flex;
    background-image: linear-gradient(to top, #305082, #081543);
    padding-bottom: 3rem;
}

.aboutpage article {
    display: block;
    width: 90vw;
    margin: auto;
    border: 1px solid gray;
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 1rem;
}

.aboutpage article>div {
    display: flex;
}

.aboutpage section h2 {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, #7C8298, #2D3D5D);
    font-size: 50px;
    margin: 0;
}

.aboutpage figure img {
    width: 30vw;
    height: 39vw;
}

.aboutpage figcaption {
    text-align: center;
}

.aboutpage a,
.consolespecscontainer a,
.supportcontainer a {
    color: red;
    margin-left: 2rem;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: #0D1126;
    color: white;
}

footer div {
    padding: 0 2rem;
}

footer div ul {
    padding: 0;
}

footer> :first-child {
    width: 30%;
    padding-right: 10rem;
}

footer li {
    padding-bottom: 1rem;
}

h1 {
    background-color: #0233dd;
    font-size: 60px;
    color: white;
}